<div class="container__big-card">

    <div class="big-card__photo">
        <img src="https://t3.ftcdn.net/jpg/02/48/42/64/360_F_248426448_NVKLywWqArG2ADUxDq6QprtIzsF82dMF.jpg" 
        alt=""
        srcset=""
        >
    </div>

    <div class="big-card__title">
        <h1><a href="#">Lorem ipsum dolor sit amet.</a></h1>
    </div>
    
    <div class="big-card__description">
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Est atque consectetur, itaque magni eaque assumenda qui incidunt animi voluptatem exercitationem, similique ipsa expedita rerum nobis molestiae inventore recusandae molestias sed. <a href="#">See more</a>
        </p>
    </div>

</div>