.container__menu-bar > ul {
    display: flex;
    flex-direction: row;
}

.container__menu-bar > ul > li {
    cursor: pointer;
    margin-right:20px;
    list-style: none;
    transition: .5s;
}

.container__menu-bar > ul > li > a:hover {
    color: #042fec;
}